
p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}

p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}p {
  color: #FFFFFF;
}

textarea {
  font-family : Arial;
}

/*but why?*/

h1 {
  font-family: Arial;
  color: #FFFFFF;
  /*pain*/
}

/*there is no point.*/
img {
  padding: 10px;
  text-align : center
}
